<div class="min-h-[100vh] flex items-center justify-center">
    <div class="shadow-shad p-4 rounded-2xl">
        <h1 class="text-[#e5439c] text-center pb-4 text-[40px]">Login</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col w-[400px] gap-2">
            <div class="flex flex-col gap-1">
                <label for="username">Username</label>
                <input formControlName="username" class="transition-all border p-2 rounded-xl outline-none hover:border-[#e5439c]" type="text" placeholder="Username">
            </div>
            
           <!-- Username -->
           <div class="flex flex-col gap-1">
            <label for="password">Password</label>
            <input formControlName="password" class="transition-all border p-2 rounded-xl outline-none hover:border-[#e5439c]" type="password" placeholder="Password">

           </div>
            <!-- Password -->
           <div class="w-full ">
            <button [disabled]="!loginForm.value" class="text-white w-full p-2  bg-btn rounded-xl ">Login</button>
            <div> Crée un compte<span  (click)="navigateToSignUp()" class="cursor-pointer pl-3 text-[#e5439c]">SignUp</span> </div>
           </div>
           
        </form>
    </div>
</div>