<div class="min-h-[100vh] flex items-center justify-center">
    
        <div class="shadow-shad p-4 rounded-2xl">
            <h1 class="text-[#e5439c] text-center pb-4 text-[40px]">SignUp</h1>
            <!-- Formulaire -->
            <form action="" class="flex flex-col w-[400px] gap-2">
                <!-- Username -->
                <div class="flex flex-col gap-1">
                    <label for="username">Username</label>
                    <input class="transition-all border p-2 rounded-xl outline-none hover:border-[#e5439c]" type="text" placeholder="Username">
                </div>
            
            <!-- Email -->
                
               <div class="flex flex-col gap-1">
                <label for="Email">Email</label>
                <input class="transition-all border p-2 rounded-xl outline-none hover:border-[#e5439c]" type="email" placeholder="Email">
            </div>
            <!-- Password -->
               <div class="flex flex-col gap-1">
                <label for="password">Password</label>
                <input class="transition-all border p-2 rounded-xl outline-none hover:border-[#e5439c]" type="password" placeholder="Password">

               </div>
                <!-- Button  -->
               <div class="w-full ">
                <button (click)="navigateToCreate()" class="text-white w-full p-2  bg-btn rounded-xl ">SignUp</button>
                <div> Vous avez déja un compte <span  (click)="navigateToLogin()" class="cursor-pointer pl-3 text-[#e5439c]">Login</span> </div>
               </div>
               
            </form>
        </div>
</div>